{{ 'collage.css' | asset_url | stylesheet_tag }}

<div class="container padding-base">
  <div class="collage">
    <div class="bg-red">
      <img
        src="https://cdn.shopify.com/s/files/1/0532/8234/1052/files/berry-blast-model-1-squooshed.jpg?v=1675941085"
        width="auto"
        height="auto"
        loading="lazy"
      >
    </div>
    <div class="bg-primary">
      <h1 class="home-title" id="collage-title">
        Energy<br>
        Your Way
      </h1>
      <p class="fw-body-medium" id="collage-copy">
        Pzaz powers up creatives, athletes, students, professionals, travelers, and entertainers.
      </p>
    </div>
    <div class="bg-dark"></div>
    <div class="bg-blue"></div>
    <div class="bg-dark"></div>
    <div class="bg-gray"></div>
    <div class="bg-green"></div>
  </div>
</div>
