<div class="power__item" data-item="calories">
  <h2 class="power__title">Zero Calories</h2>

  <p class="power__info">
    Pzaz is an energizing breath spray with zero calories, zero sugar, and zero artificial flavors.
  </p>
</div>
<div class="power__item" data-item="caffeine">
  <h2 class="power__title">Natural Caffeine</h2>

  <p class="power__info">
    Every spray contains caffeine from green tea leaves for a natural, high-energy sense of power and focus. It also
    contain calming l-theanine.
  </p>
</div>
<div class="power__item visible" data-item="zinc">
  <h2 class="power__title">Zinc</h2>

  <p class="power__info">Zinc is an essential mineral that stimulates our metabolism and supports muscular function.</p>
</div>

<div class="power__item" data-item="vit-c">
  <h2 class="power__title">Vitamin C</h2>

  <p class="power__info">Vitamin C fights fatigue and brain fog while supporting the immune system.</p>
</div>
<div class="power__item" data-item="vit-b">
  <h2 class="power__title">Vitamin B</h2>

  <p class="power__info">
    Every spray contains Vitamin B12, essential for the body to metabolize glucose and carbohydrates into cellular
    energy.
  </p>
</div>

<div class="power__item" data-item="electrolytes">
  <h2 class="power__title">Electrolytes</h2>

  <p class="power__info">
    Pzaz contains electrolytes which recharge the body by supporting hydration and sparking optimal cell function.
  </p>
</div>
