<div
  class="press__item"
  id="vice"
>
  <span
    class="press__image"
  >
    {% render 'press-vice' %}
  </span>
  <h4
    class="press__text"
  >
    "A FUN WAY TO STAY HYPED ALL NIGHT LONG."
  </h4>
</div>
<div
  class="press__item"
  id="gq"
>
  <span
    class="press__image"
  >
    {% render 'press-gq' %}
  </span>
  <h4
    class="press__text"
  >
    "MORE ZAZ, MORE FUN."
  </h4>
</div>

<div
  class="press__item"
  id="nylon"
>
  <span
    class="press__image"
  >
    {% render 'press-nylon' %}
  </span>
  <h4
    class="press__text"
  >
    "A NEW ACCESSORY TO KEEP US CAFFEINATED"
  </h4>
</div>

<div
  class="press__item"
  id="highsnobiety"
>
  <span
    class="press__image"
  >
    {% render 'press-highsnobiety' %}
  </span>
  <h4
    class="press__text"
  >
    "SUPREMELY PORTABLE"
  </h4>
</div>

<div
  class="press__item"
  id="dieline"
>
  <span
    class="press__image"
  >
    {% render 'press-dieline' %}
  </span>
  <h4
    class="press__text"
  >
    "ZERO CALORIE, NO-SUGAR ENERGY"
  </h4>
</div>
