<div class="product-content full-height flow" style="--flow-gap:2rem">
  <div class="product-banner">
    <img
      data-src="https://cdn.shopify.com/s/files/1/0532/8234/1052/files/pdp-btf-image-1.jpg?v=1680891015"
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-class="LazyLoad"
      width="1000"
      height="1000"
      loading="lazy"
      class="btf-1"
    >
    <div class="product-banner-inner">
      <p>“Pzaz lets me power up throughout the day whenever I need a quick burst of focus and energy.”</p>
    </div>
  </div>

  <div class="product-banner-split">
    <div class="product-banner">
      <img
        data-src="https://cdn.shopify.com/s/files/1/0532/8234/1052/files/pdp-btf-diagram-2.jpg?v=1680891013"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-class="LazyLoad"
        width="1000"
        height="1000"
        loading="lazy"
        class="btf-2"
      >
    </div>
    <div class="product-banner">
      <video
        class="btf-3"        
        muted
        loop
        playsinline
        preload="none"
        data-poster="https://cdn.shopify.com/s/files/1/0532/8234/1052/files/basketball-poster-image.jpg?v=1679939405"
      >
        <source src="https://cdn.shopify.com/videos/c/o/v/4acb50b061c64cad99facb0f28f10fac.mp4" type="video/mp4">
      </video>
    </div>
  </div>

  <div class="product-banner-split">
    <div class="product-banner">
      <img
        data-src=" https://cdn.shopify.com/s/files/1/0532/8234/1052/files/pdp-btf-diagram-1.jpg?v=1680891013"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-class="LazyLoad"
        width="1000"
        height="1000"
        loading="lazy"
        class="btf-4"
      >
    </div>
    <div class="product-banner">
      <img
        data-src="https://cdn.shopify.com/s/files/1/0532/8234/1052/files/btf-ingrediants-with-padding.jpg?v=1681231696"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-class="LazyLoad"
        width="1000"
        height="1000"
        loading="lazy"
        class="btf-5 btf-ingredients"
      >
    </div>
  </div>

  <div class="product-banner-split">
    <div class="product-banner">
      <img
        data-src="https://cdn.shopify.com/s/files/1/0532/8234/1052/files/Reviews-for-pdp_slower.gif?v=1681231860"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-class="LazyLoad"
        width="1000"
        height="1000"
        loading="lazy"
        class="btf-6"
      >
    </div>
    <div class="product-banner">
      <video
        class="btf-7"
        muted
        loop
        playsinline
        preload="none"
        data-poster="https://cdn.shopify.com/s/files/1/0532/8234/1052/files/pdp-btf-image-2.jpg?v=1680891013"
      >
        <source src="https://cdn.shopify.com/videos/c/o/v/a44fe01afdc74cd2a900bf0cbbd17f4f.mp4" type="video/mp4">
      </video>
    </div>
  </div>

  <div class="product-banner">
    <img
      data-src="https://cdn.shopify.com/s/files/1/0532/8234/1052/files/btg-image-3-with-press.png?v=1681228045"
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-class="LazyLoad"
      width="1000"
      height="1000"
      loading="lazy"
      class="btf-8"
    >
  </div>
</div>

{% schema %}
{
  "name": "product-content",
  "tag": "section",
  "class": "section",
  "settings": []
}
{% endschema %}
