{{
   "collage.css" | asset_url | stylesheet_tag }}

<div class=" collage">
  <div class="bg-red"></div>
  <div class="bg-primary"></div>
  <div class="bg-dark"></div>
  <div class="bg-blue"></div>
  <div class="bg-dark"></div>
  <div class="bg-gray"></div>
  <div class="bg-green"></div>
</div>


{% schema %}
  {
    "name": "collage-section",
    "tag": "section",
    "class": "section bg-light",
    "settings": []
  }
{% endschema %}