<div class="page-width page-width--narrow section-{{ section.id }}-padding">
  <h1 class="main-page-title page-title h0">
    {{ page.title | escape }}
  </h1>
  <div class="rte">
    {{ page.content }}
  </div>
</div>

{% schema %}
  {
    "name": "test-pdp",
    "tag": "section",
    "class": "section",
    "settings": []
  }
{% endschema %}