.fixed-atop {
  /* position: fixed; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.reviews {
  /* overflow: hidden; */
  /* text-align: center; */
  /* display: flex;
  flex-direction: column; */
  /* align-items: center; */
}

.reviews__headline,
.map__headline {
  font-size: var(--fs-700);
  font-weight: 600;
  /* margin-bottom: 2rem; */
  width: 60%;
}

.map__copy {
  margin-bottom: 0.5rem;
  max-width: 75%;
  font-weight: var(--fw-body-medium);
  font-size: var(--fs-xl);
}

.reviews__copy {
  margin-bottom: 0.5rem;
  max-width: 75%;
  font-weight: var(--fw-body-medium);
  font-size: var(--fs-xl);
}

@media (min-width: 768px) {
  .reviews__copy,
  .map__copy {
    font-size: var(--fs-2xl);
  }
}

.map__cta {
  width: 100%;
  height: 15rem;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  margin-block: 4rem;
}

@media (min-width: 768px) {
  .map__cta {
    height: 25rem;
  }
}

.map__cta .button {
  position: relative;
  z-index: 100;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.map__cta-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map__cta img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/*MAKING IMAGES LARGE FOR PARALLAX #TEMPORARY*/
.map__cta img {
  width: 200%;
  height: 200%;
  object-fit: cover;
  object-position: top;
}

.reviews__carousel.embla {
  padding-block: 12vh;
  position: relative;
}

.reviews .embla__container {
  display: flex;
  will-change: transform;
  margin-left: -2rem;
}

.reviews .embla__slide {
  flex: 0 0 auto;
  width: 50%;
  position: relative;
  padding-left: 2rem;
}

.reviews .embla__slide__inner {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid rgba(var(--color-primary), 0.2);
}
.reviews__image {
  /* display: none; */
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews .embla__slide.is-selected .embla__slide__inner {
  opacity: 1;
  transition: 0.5s;
  border: 2px solid rgba(var(--color-primary), 1);
}
